<h1>New</h1>

<div>123</div>
<div>123</div>
<div>123</div>
<div>123</div>
<%= form_for @spreadsheet do |f| %>
  <div class="form-group">
    <%= f.text_field :spreadsheet_name, placeholder: "Which spreadsheet" %>
    <%= f.submit "OK", class: "btn btn-primary"%>
  </div>
<p>1123</p>  
<% end %> 