<div class="type-id">
  <%= form_for @spreadsheet do |f| %>
    <div class="form-group">
      <%= f.text_field :name, autofocus: true, placeholder: "Which spreadsheet ?" %>
      <%= f.submit 'NEXT' %>
    </div>
  <% end %>
</div>